<%- include("header") -%>



    <h1><%=today%></h1>
    <ul>
        <%newListItems.forEach((i) => {%>
            <li><%=i%></li>
        <%});%>
        
    </ul>

    <form class ="" action="/" method = "post">
        
        <input type="text" name="newItem">
        
        <button type="submit" name="button">Add</button>

    </form>
</body>
</html>


<%- include("footer") -%>